<!DOCTYPE html>
<html>
    <head>
        <title>Boleto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" >
        <style>
            *{
                font-family: Arial;
            }

            p.label{text-align: left; padding: 2px; font-size: 10px; margin: 0;}
            p.content{text-align: left; font-size: 11px; padding: 0 2px 1px 2px; margin: 0;}
            .text-right{text-align: right !important;}
            .border-bottom{border-bottom:1px solid #000;}
            .title{text-align: center; font-size: 14px; font-weight: bold;}
            .border-right{border-right:1px solid #000;}
            .table{ width: 700px; margin: 0 auto; border-top: 1px; border-left: 1px; border-bottom: 0; border-right: 1px; border-style: solid; border-color:  #000;}
            .table2{width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 0; border-right: 1px; border-style: solid; border-color:  #000;}
            .table3{width: 700px; margin: 0 auto; border-top: 1px; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;}
            .table4{width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;}

        </style>


    </head>
    <body> 
        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <td style="border-right: 1px solid #000; padding: 2px; text-align: center; border-bottom: 1px solid #000;">
                    <img src="{{ logoBoleto }}" >
                </td>
                <td style="font-size: 12px; font-weight: bold;  border-bottom: 1px solid #000;">
                    <div style="border-bottom: 1px solid #000; padding: 5px; text-align: right; font-weight: normal;">Nota de Recolhimento  Nº: <strong>{{ dadosLancamento.fnc_parcela_nosso_numero }}</strong></div>            
                    {{ dadosConvenio.fnc_convenio_html | raw }}
                </td>
            </tr>  
        </table>   

        <table cellpadding="0" cellspacing="0" class="table2">

            <tr>
                <td>
                    <p class="label">Beneficiário</p>
                    <p style="text-align: left; font-size: 10px; padding: 1px; margin: 0; ">
                        {{ beneficiario.nome }} - CPF/CNPJ: {{ beneficiario.documento }} - 
                        {{ beneficiario.endereco }}, Nº {{ beneficiario.numero }}, {{ beneficiario.bairro }} - 
                        {{ beneficiario.cidade }}/{{ beneficiario.uf }} - CEP: {{ beneficiario.cep }}
                    </p>
                </td>        
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0" class="table3">

            <tr>        
                <td class="border-right">
                    <p class="label">Agência / Código do Beneficiário</p>
                    <p class="content">{{ dadosBoleto.agencia_codigo }} </p>                        
                </td>
                <td class="border-right">
                    <p class="label">Espécie</p>
                    <p class="content">R$</p>                        
                </td>
                <td class="border-right">
                    <p class="label">Quantidade</p>
                    <p class="content">-</p>                        
                </td>
                <td>
                    <p class="label">Nosso número</p>
                    <p class="content">{{ dadosBoleto.nosso_numero }}</p>                        
                </td>
            </tr>
        </table>


        <table cellpadding="0" cellspacing="0" class="table4">
            <tr>
                <td class="border-right">
                    <p class="label">Número do documento</p>
                    <p class="content">{{ dadosLancamento.fnc_parcela_cod }}</p>                     
                </td>                
                <td class="border-right">
                    <p class="label">Vencimento</p>
                    <p class="content">{{ dadosLancamento.fnc_parcela_vencimento|date("d/m/Y") }}</p>                     
                </td>
                <td class="border-right">
                    <p class="label">Valor documento</p>
                    <p class="content">
                        {% if dadosLancamento.fnc_parcela_valor == '0,01' %}
                            &nbsp;
                        {% else %}
                            {{ moedaCliente(dadosLancamento.fnc_parcela_valor) }}
                        {% endif %}
                    </p>                     
                </td>
                <td>
                    <p class="label">Valor cobrado</p>
                    <p class="content">&nbsp;</p>                     
                </td>

            </tr>
        </table>        

        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0; padding-top: 10px;">
            <tr>
                <td>
                    <p class="content">Instruções (Texto de responsabilidade do beneficiário)</p>             
                </td>
            </tr>
        </table>         

        <!-- INICIO Instruções (Texto de responsabilidade do beneficiario) -->
        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <td  class="border-right" style="border-bottom: solid 1px #000; vertical-align: top; padding-left: 2px; font-size: 12px; max-width: 400px ">            

                    {{ destinoContabil | raw | nl2br }}

                </td>

                <td  style="border-bottom: solid 1px #000; vertical-align: top;">
                    {% set i = 0 %}
                    {% for dados in lancamentoAbertos %}

                        {% if i == 0 %}
                            <span  style="font-size: 11px; font-weight: bold; padding: 2px;">Lançamentos anteriores ainda não pagos</span>
                        {% endif %}

                        {% set i = i + 1 %}

                        <div style="font-size:9px; padding-top:2px; padding-bottom:2px;">{{ moedaCliente(dados.fnc_parcela_valor) }} <i class="fa fa-long-arrow-right"></i> {{dados.fnc_lancamento_nome }}</div>

                    {% endfor %}    
                </td> 
            </tr>
        </table>          
        <!-- FIM Instruções (Texto de responsabilidade do beneficiario) -->



        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0;">
            <tr>
                <td>
                    <span  style="font-size: 10px; padding:0;">Pagador</span>
                </td>                       
            </tr>

            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.nome }}</p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">&nbsp;</p>
                </td>                
            </tr>  
            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.endereco }} {{ pagador.numero }} - {{ pagador.bairro }} - {{ pagador.cidade_complemento }} </p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">&nbsp;</p>
                </td>                
            </tr>  
            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.cidade }}, {{ pagador.estado }} - {{ pagador.cep }} - {{ pagador.documento }}</p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">&nbsp;</p>
                </td>                
            </tr>     

            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0x; margin: 0;">&nbsp;</p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px;  padding: 0; margin: 0;">&nbsp;</p>
                </td>                
            </tr>

            <tr>
                <td width="50%" class="border-bottom">
                    <p  style="font-size: 10px; padding: 0x; margin: 0; text-align: left;">Pagador/Avalista</p>
                </td>
                <td width="50%" class="border-bottom">
                    <p  style="font-size: 10px;  padding: 0; margin: 0; text-align: center;">Código de Baixa</p>
                </td>                
            </tr>   

            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0x; margin: 0;">&nbsp;</p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px;  padding: 0; margin: 0; text-align: center;">Autenticação ­ Recibo do Pagador</p>
                </td>                
            </tr>            
        </table>          


        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0;">
            <td width="100%" style="border-bottom:1px dashed #000;">
                <p  style="font-size: 10px; padding: 0x; margin: 0;">Corte na linha pontilhada</p>
            </td>            
        </table>        

        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0;">
            <td width="100%">
                <p  style="font-size: 10px; padding: 0x; margin: 0;">&nbsp;</p>
            </td>            
        </table>          

        <table cellpadding="0" cellspacing="0" class="table">

            <tr>
                <td width="15%" class="border-bottom"><img src="{{ dadosBoleto.logoBanco }}" style="max-width: 130px;" /></td>
                <td width="15%" class="border-bottom title"><span style="border-left: 1px solid #000; font-size: 16px; border-right: 1px solid #000; padding: 0 5px 0 5px;">{{ dadosBoleto.codigo_banco_com_dv}}</span></td>

                {% if dadosLancamento.fnc_parcela_pago == 'S'%}
                    <td width="70%" style="border-bottom:1px solid #000; width:480px; text-align: right; font-size: 16px; font-weight: bold; padding-right: 5px;">[este boleto já está quitado]</td>
                {% else %}    
                    <td width="70%" style="border-bottom:1px solid #000; width:480px; text-align: right; font-size: 16px; font-weight: bold; padding-right: 5px;">{{ dadosBoleto.linha_digitavel }}</td>
                {% endif %}
            </tr>
        </table>



        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">
            <tr>
                <td width="65%" class="border-right">
                    <p class="label">Local de pagamento </p>
                    <p class="content">Pagável em qualquer banco</p>
                </td>
                <td width="35%">
                    <p class="label">Vencimento</p>
                    <p class="content text-right">{{ dadosLancamento.fnc_parcela_vencimento|date("d/m/Y") }}</p></td>                
            </tr>
        </table>         


        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">
            <tr>
                <td width="65%" class="border-right">
                    <p class="label">Beneficiário </p>
                    <p style="text-align: left; font-size: 10px; padding: 1px; margin: 0; ">
                        {{ beneficiario.nome }} - CPF/CNPJ: {{ beneficiario.documento }} - 
                        {{ beneficiario.endereco }}, Nº {{ beneficiario.numero }}, {{ beneficiario.bairro }} - 
                        {{ beneficiario.cidade }}/{{ beneficiario.uf }} - CEP: {{ beneficiario.cep }}
                    </p>
                </td>
                <td width="35%">
                    <p class="label">Agência/Código Beneficiário</p>
                    <p class="content text-right">{{ dadosBoleto.agencia_codigo }}</p></td>                
            </tr>
        </table>        

        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">
            <tr>
                <td class="border-right">
                    <p class="label">Data do documento</p>
                    <p class="content">{{ dadosLancamento.fnc_lancamento_data_base|date("d/m/Y") }}</p>
                </td>
                <td class="border-right">
                    <p class="label">No. documento</p>
                    <p class="content">{{ dadosLancamento.fnc_parcela_cod }}</p>
                </td>
                <td class="border-right">
                    <p class="label">Espécie doc.</p>
                    <p class="content">DM</p>
                </td>
                <td class="border-right">
                    <p class="label">Aceite</p>
                    <p class="content">N</p>
                </td>
                <td class="border-right">
                    <p class="label">Data process.</p>
                    <p class="content">{{ dadosLancamento.fnc_lancamento_data|date("d/m/Y") }}</p>
                </td>


                <td width="35%">
                    <p class="label">Nosso número</p>
                    <p class="content text-right">{{ dadosBoleto.nosso_numero }}</p>
                </td>                
            </tr>
        </table>        

        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">
            <tr>
                <td width="20%" class="border-right">
                    <p class="label">Uso do banco</p>
                    <p class="content">&nbsp;</p>
                </td>
                <td width="12%" class="border-right">
                    <p class="label">Carteira</p>
                    <p class="content">{{ dadosConvenio.fnc_convenio_carteira }}</p>
                </td>
                <td width="12%" class="border-right">
                    <p class="label">Espécie</p>
                    <p class="content">R$</p>
                </td>
                <td width="11%" class="border-right">
                    <p class="label">Quantidade</p>
                    <p class="content"> - </p>
                </td>
                <td width="10%" class="border-right">
                    <p class="label">x Valor</p>
                    <p class="content"> - </p>
                </td>


                <td width="35%">
                    <p class="label">(=) Valor documento</p>
                    <p class="content text-right">

                        {% if dadosLancamento.fnc_parcela_valor == '0,01' %}
                            &nbsp;
                        {% else %}
                            {{ moedaCliente(dadosLancamento.fnc_parcela_valor) }}
                        {% endif %}

                    </p>
                </td>                
            </tr>
        </table>         



        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">
            <tr>
                <td rowspan="5"  width="65%" style="border-right: 1px solid #000; vertical-align: top;">
                    <p class="label">Instruções (Texto de responsabilidade do beneficiário)</p>

                    <p style="font-size: 14px; padding: 2px; margin: 0;">

                        {% if dadosConvenio.fnc_convenio_multa > 0 %}
                            Após o vencimento, cobrar multa de {{ dadosConvenio.fnc_convenio_multa }}%
                        {% endif %}

                        {% if dadosConvenio.fnc_convenio_multa_juros > 0 %}
                            , mais mora de {{ dadosConvenio.fnc_convenio_multa_juros }}% ao mês. <br>
                        {% endif %}

                        {{ dadosConvenio.instrucao_adicional | raw }}
                    </p>
                </td>
                <td width="35%" style="border-bottom: 1px solid #000;">
                    <p class="label">(-) Desconto / Abatimento</p>
                    <p class="content text-right">&nbsp;</p>                    
                </td>
            </tr>      
            <tr>
                <td width="35%" style="border-bottom: 1px solid #000;">
                    <p class="label">(-­) Outras deduções</p>
                    <p class="content text-right">&nbsp;</p>                    
                </td>            </tr>
            <tr>
                <td width="35%" style="border-bottom: 1px solid #000;">
                    <p class="label">(+) Mora / Multa</p>
                    <p class="content text-right">&nbsp;</p>                    
                </td>            </tr>
            <tr>
                <td width="35%" style="border-bottom: 1px solid #000;">
                    <p class="label">(+) Outros Acréscimos</p>
                    <p class="content text-right">&nbsp;</p>                    
                </td>            </tr>
            <tr>
                <td width="35%">
                    <p class="label">(=) Valor cobrado</p>
                    <p class="content text-right">&nbsp;</p>                    
                </td>
            </tr>

        </table>


        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border-top: 0; border-left: 1px; border-bottom: 1px; border-right: 1px; border-style: solid; border-color:  #000;">

            <tr>
                <td>
                    <p  style="font-size: 10px; padding:0;">Pagador</p>
                </td>                    
            </tr>

            <tr>
                <td>
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.nome }}</p>
                </td>                     
            </tr>  
            <tr>
                <td width="65%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.endereco }} {{ pagador.numero }} - {{ pagador.bairro }} - {{ pagador.cidade_complemento }}</p>
                </td>
                <td width="35%">
                    <p  style="font-size: 10px; padding: 0; margin: 0; border-left:1px solid #000;">Cód. baixa</p>
                </td>                
            </tr>  
            <tr>
                <td width="65%">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">{{ pagador.cidade }}, {{ pagador.estado }} - {{ pagador.cep }} - {{ pagador.documento }}</p>
                </td>
                <td width="35%" style="border-left:1px solid #000;">
                    <p  style="font-size: 10px; padding: 0; margin: 0;">&nbsp;</p>
                </td>                
            </tr>           
        </table>


        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0;">
            <tr>
                <td width="50%">
                    <p  style="font-size: 10px; padding: 0x; margin: 0;">&nbsp;</p>
                </td>
                <td width="50%">
                    <p  style="font-size: 10px;  padding: 0; margin: 0; text-align: center;">Autenticação mecânica ­ Ficha de Compensação</p>
                </td>                
            </tr>            
        </table>         

        <table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; border:0;">
            <tr>
                <td width="60%">

                    {% if dadosLancamento.fnc_parcela_pago == 'S'%}
                        [este boleto já está quitado]
                    {% else %}
                        {{ dadosBoleto.codigo_barras |raw }}
                    {% endif %}
                </td>                        
            </tr>            
        </table>         

    </body>
</html>